{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SaaS_Craft</title>
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
</head>
<body>
    <div class="container">
        <div class="container-body">
            <!--  heading -->
            <div class="nav-content">
                <div class="nav-bar">
                    <ul>
                        <a href="{% url 'index'%}"><li>Accuille</li></a>
                        {% if user_current  %}
                        
                        <a href="{% url 'settings' %}"><li>Nos Projet</li></a>
                        {% else %}
                        <a href="#"><li>Nos Projet</li></a>
                        {% endif %}
                        <a href="#"><li>Contact</li></a>
                    </ul>
                    <div class="user">
                        <a href="{% url 'signin' %}">Login</a>
                        <a href="{% url 'signup' %}">Register</a>
                        <a href="{% url 'logout' %}">Logout</a>
                    </div>

                </div>
                <div class="nav-text">
                    <h3>Rout vert le succes de la creation de tes projet </h3>
                </div>
            </div>
            <!-- all_center  -->
            <div class="article-container">
                <div class="all_article">
                    {% for article in articles %}
                    <!--Vrai ===========================================Vrai-->
                    <div class="article">
                        <div>
                            <div class="article-body">
                            <div class="profile">
                                <div class="profile-image">
                                    <div class="image">
                                       
                                    </div>
                                    <div class="description">
                                        <h6>{{article.title}}</h6>
                                    </div>
                                </div>
                                
                                
                                <div class="date-creation">
                                    <h6>{{article.date_to_create|date:"y/m/d"}}</h6>
                                </div>
                            </div>
                        
                            <div class="article-image">
                                <img src="{{article.post_image.url}}" alt="">
                            </div>
                            <div class="text">
                                    {{article.post|slice:":200"}}
                                
                            </div>
                            <div class="new-page">
                                <a href="{% url 'article_post' pk=article.id %}"><h4>plus....</h4></a>
                            </div>
                        </div>
                    </div>
                </div>
                    <!--===============Fin ==================================-->
                    {% endfor %}
                <!--===============Fin ==================================-->
            </div>
            
        </div>
    </div>

    <script src="{% static '/js/scripts.js' %}"></script>
</body>
</html>