{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SaaS_Craft</title>
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <link rel="stylesheet" href="{% static '/css/settings.css' %}">
</head>
<body>
    <div class="container">
        <div class="container-body">
            <!--  heading -->
            <div class="nav-content">
                <div class="nav-bar">
                    <ul>
                        <a href="{% url 'index' %}"><li>Accuille</li></a>
                        <a href="#"><li>Nos Projet</li></a>
                        <a href="#"><li>Contact</li></a>
                    </ul>
                    
                </div>
                <div class="nav-text">
                    <h3>Rout vert le succes de la creation de tes projet </h3>
                </div>
            </div>
            <!-- all_center  -->
            <div class="settings-container">
               
                <div class="all-settings">
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div>
                            <input type="file" name="image"  placeholder="Ajouter une image">
                        </div>
                        <div>
                            <input type="text" name="title" placeholder="title">
                        </div>
                        <div>
                           
                            <textarea name="post" id="post" cols="30" rows="10" placeholder="la creation des ....."></textarea>
                        </div>
                        <div>
                            
                        <button>Envoyer</button>
                        </div>
                    </form>
                   
                <!--===============Fin ==================================-->
            </div>
            
        </div>
    </div>

    <script src="/static/js/scripts.js"></script>
</body>
</html>